* {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    margin: 20px;
    width: 50%;
}

input[type=text] {
    padding: 12px 26px;
    margin: 4px 2px;
    box-sizing: border-box;
    width: 80%;
}

.button {
    background-color: white;
    color: #008CBA;
    border: 1px solid #008CBA;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

.kanban {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 5px;
}

.kanban * {
    font-family: sans-serif;
}

.kanban__column {
    flex: 1;
    background-color: wheat;
    padding: 15px;
    border-radius: 15px;

}

.kanban__column:not(:last-child) {
    margin-right: 10px;
}

.kanban__column-title {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    user-select: none;
    text-align: center;
}

.kanban__item {
    display: flex;
    border: none;
}



.icon {
    color: red;
    background-color: white;
    padding-top: 2px;
    margin-bottom: 5px;
    padding: 2px;
    margin-left: -5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.kanban__item-input {
    padding: 10px 15px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    outline: 0px solid transparent;

}

.kanban__dropzone {
    height: 20px;
    transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
    height: 20px;
    background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}